.menu-bg {
    padding-top: 80px;
}



.bicicletas-intro img {
    height: 520px;
    width: 460px;
}

.bicicletas-lista {
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
    padding: 0 20px 20px 20px;
    margin-bottom: 120px;
}

.bicicletas-lista li {
    flex: 1;
    min-width: 240px;
}

.bicicletas-lista img {
    padding-top: 20px;
    object-fit: cover;
    border-radius: 4px;
}


.bicicletas-lista h3::before {
    content: "";
    width: 12px;    
    height: 8px;
    background-color: var(--cor-p1);
    display: inline-block;
    margin-right: 8px;
    transition: width 0.2s;

}

.bicicletas-lista:hover h3::before {
    width: 24px;
}

.bicicletas-lista h3 {
    display: flex;
    align-items: center;
    
}

.bicicletas-lista span {
    margin-left: 20px;
    
}



@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}

