.tecnologia-bg {
    background: var(--cor-11);
    box-shadow: inset 0 80px #ffffff, inset 0 -80px #ffffff;
}


.tecnologia-introducao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.tecnologia-texto {
    padding-top: 160px;
    padding-bottom: 160px;
}

.tecnologia-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}


.lista-coisas {
    display: flex;
    gap: 40px;
}

.lista-coisas img, h4 {
    padding-bottom: 10px;
}

.botao-dif {
    font-size: 1.5rem;
    margin-bottom: 80px;
    text-transform: uppercase;
    display: inline-block;
}

.botao-dif:hover {
    color: var(--cor-1);
}

.botao-dif::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: block;
}

@media (max-width: 900px) {
    .tecnologia-imagem {
      background-position: right 0 top;
    }
  }

@media (max-width: 800px) {
    .tecnologia-introducao {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .font-1-xxl {
        font-size: 2rem;
    }

    .tecnologia-texto {
        padding-top: 140px;
    }

    .tecnologia-texto h3 {
        margin-bottom: 32px;
    }

    .tecnologia-texto > p {
        margin-bottom: 20px;
    }

    .tecnologia-imagem {
        display: none;
    }
}

